div.sidebar {
  max-width: 250px;
  min-height: 100%;
  padding: calc(1rem + 0.5vw);
  color: var(--clr-secondary-text);
  background-color: var(--clr-sidebar-bg);
}

.sidebar > div:nth-child(-n + 2) {
  margin-bottom: 30px;
}

.sidebar > .branding {
  gap: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.branding > .icon {
  display: flex;
  flex-shrink: 0;
  padding: 0.2rem;
  border-radius: 50%;
  background-color:var(--clr-accent-lt);
}

.branding h1 {
  font-weight: 500;
  font-size: 1.8rem;
}

.btn-container > .add-project-btn {
  width: 100%;
  padding: 12px;
}

.projects h2 {
  font-size: 1rem;
  color: #a1a1a1;
  margin-bottom: 10px;
  letter-spacing: 1.2px;
}

.project-list > li {
  cursor: pointer;
  color: #71717a;
  border-radius: 2px;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-left: 3px solid transparent;
}

.project-list > li.active {
  background-color: rgba(39, 39, 42, 0.5);
  border-left: 3px solid var(--clr-accent-lt);
}

.project-list > li.active:hover {
  border-left: 3px solid var(--clr-accent-dk);
}

.project-list > li:hover {
  background-color: #27272a;
  color: var(--clr-secondary-text);
}

li.active > span {
  color: var(--clr-secondary-text);
}

li > span {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

li > button::before {
  content: '\2715';
}

li > button {
  flex-shrink: 0;
  color: inherit;
  background-color: transparent;
}

li > button:hover {
  color: var(--clr-accent-lt);
}