@font-face {
    font-family: 'Noto Sans';
    src: url('../assets/fonts/NotoSans-Regular.woff2') format('woff2'),
        url('../assets/fonts/NotoSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
  --clr-accent-lt: #f43f5e;
  --clr-accent-dk: #e11d48;
  --clr-primary-bg: #f8fafc;
  --clr-sidebar-bg: #18181b;
  --clr-primary-text: #171923;
  --clr-secondary-text: #fafafa;
  --ff-primary-text: 'Noto Sans', sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

html {
  scrollbar-gutter: stable;
}

html:has(dialog[open]) {
  overflow: hidden;
}

body {
  line-height: 1.5;
  color: var(--clr-primary-text);
  font-family: var(--ff-primary-text);
  background-color: var(--clr-primary-bg);
}

img {
  display: block;
  max-width: 100%;
}

input, button, textarea {
  font: inherit;
}

button {
  border: 0;
  cursor: pointer;
  font-weight: 600;
  border-radius: 8px;
  padding: 8px 12px;
  color: var(--clr-secondary-text);
}

button:hover {
  transform: translateY(1px);
}

button:active {
  transform: translateY(2px);
}

ul {
  padding: 0;
  list-style: none;
}

div.container {
  display: grid;
  min-height: 100dvh;
  grid-template-columns: 1fr 4fr;
}

.btn-container > .add-project-btn::before,
.btn-container > .add-todo-btn::before {
  content: '\002b';
}

.btn-container > .add-project-btn,
.btn-container > .add-todo-btn {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: var(--clr-secondary-text);
  background-color: var(--clr-accent-lt);
}

.btn-container > .add-project-btn:hover,
.btn-container > .add-todo-btn:hover {
  color: var(--clr-secondary-text);
  background-color: var(--clr-accent-dk);
}

dialog::backdrop {
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.5);
}

dialog {
  outline: none;
  width: min(420px, 100%);
  border-radius: 5px;
  border: 1px solid #dddddd;
  padding: calc(0.6rem + 1.5vw);
}

dialog form {
  margin: auto;
  width: min(320px, 100%);
}

dialog .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.header > .close-btn {
  color: #858896;
  font-size: 1.15rem;
  border-radius: 8px;
  background-color: transparent;
}

.header > .close-btn:hover {
  background-color: #e9eaf0;
  color: var(--clr-accent-dk);
}

form > .form-group:not(:last-child) {
  margin-bottom: 1.5rem;
}

.form-group > label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
}

.form-group input:not([type='radio']),
.form-group textarea,
fieldset.form-group {
  width: 100%;
  outline: none;
  border-radius: 5px;
  padding: 0.45rem 0.6rem;
  border: 2px solid #bbbbbb;
}

.form-group > input:user-valid,
.form-group > textarea:user-valid {
  border-color: #059669;
}

.form-group > input:user-invalid,
.form-group > textarea:user-invalid {
  border-color: #ef4444;
}

.form-group input:not([type='radio']):focus,
.form-group textarea:focus {
  border-color: #3498db;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

input + span {
  position: relative;
}

input:required + span::after {
  content: 'Required';
  position: absolute;
  border-radius: 5px;
  top: -42px;
  right: 0px;
  color: var(--clr-accent-lt);
  padding: 0.10rem 0.4rem;
}

.form-group textarea {
  resize: vertical;
}

fieldset.form-group {
  display: flex;
  justify-content: space-evenly;
  gap: 16px;
  padding-bottom: 1rem;
}

fieldset > legend {
  font-size: 1.2rem;
}

.form-group:last-child {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}

.form-group button {
  margin-top: 0.4rem;
}

.form-group button[type='button'] {
  background-color: var(--clr-accent-lt);
}

.form-group button[type='button']:hover {
  background-color: var(--clr-accent-dk);
}

.form-group button[type='submit'] {
  background-color: #60a7c8;
}

.form-group button[type='submit']:hover {
  background-color: #3498db;
}