:root {
  --clr-accent: #3498db;
  --clr-main-bg: #f4f4f4;
  --clr-edit-btn: #ffb300;
  --clr-dialog-bg: #f9f9f9;
  --clr-delete-btn: #f44336;
  --clr-cancel-btn: #f13c18;
  --clr-submit-btn: #3498db;
  --clr-sidebar-bg: #444444;
  --clr-neutral-lt: #edf4f2;
  --clr-neutral-ltr: #ffffff;
  --clr-neutral-dk: #333333;
  --clr-low-priority-bg: #e8f5e9;
  --clr-med-priority-bg: #fff3e0;
  --clr-high-priority-bg: #ffebee;
  --clr-low-priority-txt: #4caf50;
  --clr-med-priority-txt: #856404;
  --clr-high-priority-txt: #f44336;
  --ff-base: Inter, Roboto, 'Helvetica Neue',
    'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  font-family: var(--ff-base);
  color: var(--clr-neutral-dk);
  background: var(--clr-main-bg);
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
p {
  overflow-wrap: break-word;
}

h1,
h2,
h3 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

ul {
  padding: 0;
  list-style: none;
}

input,
button,
textarea {
  font: inherit;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 5px;
  color: var(--clr-neutral-ltr);
}

button:hover {
  opacity: 0.9;
  transform: scale(1.02);
}

button.add-project-btn,
button.add-todo-btn {
  padding: 0.5rem;
  background: var(--clr-accent);
}

div.container {
  display: grid;
  min-height: 100dvh;
  grid-template: auto 1fr / 1fr 4fr;
}

.container>.header {
  padding: 0.65rem;
  grid-column: span 2;
  color: var(--clr-neutral-lt);
  background: var(--clr-neutral-dk);
}

.header>h1::before {
  width: 55px;
  height: 55px;
  display: block;
  content: url('./assets/checkbox.svg');
}

.header h1 {
  gap: 8px;
  display: flex;
  font-size: 2.5rem;
  align-items: center;
}

.container>.sidebar {
  padding: 1.5rem;
  max-width: 280px;
  color: var(--clr-neutral-lt);
  background: var(--clr-sidebar-bg);
}

.sidebar>h2 {
  font-size: 1.7rem;
  margin-bottom: 0.8rem;
}

.sidebar>.add-project-btn {
  width: 100%;
  margin-bottom: 1rem;
}

.sidebar li {
  display: flex;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
}

.sidebar li.active {
  font-weight: 600;
  background: var(--clr-neutral-dk);
  border-left: 3px solid var(--clr-accent);
}

.sidebar li:hover {
  background: #ffffff1a;
}

.sidebar li>button::before {
  content: "\2715";
}

.sidebar li>button {
  opacity: 0.8;
  color: inherit;
  background: none;
}

.container>.main {
  padding: 1.5rem;
}

.main>.header {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: space-between;
}

.main .active-project-name {
  font-size: 1.7rem;
}

.todo-container>.todo-card {
  padding: 1rem;
  cursor: pointer;
  border-radius: 8px;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  background: var(--clr-neutral-ltr);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.todo-container>.todo-card:hover {
  background: #f6f8fa;
}

.todo-container>.todo-card.done {
  color: #777777;
  background: #e0e0e0;
  text-decoration: line-through;
}

.todo-card>.header {
  gap: 12px;
  display: flex;
  margin-bottom: 0.6rem;
  align-items: flex-start;
}

.todo-card .header>label {
  font-size: 1.2rem;
}

.todo-card label>input[type='checkbox'] {
  display: grid;
  font: inherit;
  width: 1.25em;
  height: 1.25em;
  cursor: pointer;
  appearance: none;
  border-radius: 50%;
  color: currentColor;
  margin-top: 0.35rem;
  place-content: center;
  transform: translateY(-0.075em);
  border: 0.15em solid currentColor;
}

label>input[type='checkbox']::before {
  content: '';
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  background: CanvasText;
  transform-origin: bottom left;
  box-shadow: inset 1em 1em #1abc9c;
  transition: 120ms transform ease-in-out;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

label>input[type='checkbox']:checked:before {
  transform: scale(1);
}

label>input[type='checkbox']:focus {
  outline-offset: max(2px, 0.15em);
  outline: max(2px, 0.15em) solid currentColor;
}

.todo-card .todo-summary {
  flex: 1;
}

.todo-summary>h3 {
  font-size: 1.2rem;
  margin-bottom: 0.25rem;
}

.todo-summary>span {
  font-weight: 600;
  font-size: 0.95rem;
  border-radius: 4px;
  display: inline-block;
  padding: 0.15rem 0.4rem;
  text-transform: capitalize;
}

.todo-summary .low-priority-text {
  border-left: 4px solid #28a745;
  color: var(--clr-low-priority-txt);
  background: var(--clr-low-priority-bg);
}

.todo-summary .medium-priority-text {
  border-left: 4px solid #ffc107;
  color: var(--clr-med-priority-txt);
  background: var(--clr-med-priority-bg);
}

.todo-summary .high-priority-text {
  border-left: 4px solid #dc3545;
  color: var(--clr-high-priority-txt);
  background: var(--clr-high-priority-bg);
}

.todo-summary+span {
  font-weight: 500;
  color: #777777;
  font-size: 1.1rem;
  font-style: italic;
}

.todo-card .details {
  display: flex;
  padding: 1.25rem;
  border-radius: 5px;
  margin-top: 1.25rem;
  border: 1px solid #ddd;
  background: var(--clr-neutral-ltr);
}

.todo-card .details>p {
  flex: 1;
  padding: 0.6rem;
}

button.edit-todo-btn,
button.delete-todo-btn {
  width: 4rem;
  padding: 0.3rem 0.4rem;
}

.details .edit-todo-btn {
  background: var(--clr-edit-btn);
}

.details .delete-todo-btn {
  margin-left: 0.5rem;
  background: var(--clr-delete-btn);
}

.todo-card .details.hidden {
  display: none;
}

dialog::backdrop {
  backdrop-filter: blur(8px);
  background: rgba(0, 0, 0, 0.4);
}

dialog {
  margin: auto;
  outline: none;
  padding: 1.25rem;
  border-radius: 8px;
  border: 1px solid #ddd;
  background: var(--clr-dialog-bg);
}

dialog form {
  width: 20rem;
  padding: 1.25rem;
}

dialog form>h2 {
  text-align: center;
}

form>.form-row {
  margin: 0.7rem 0;
}

.form-row>label,
fieldset legend {
  display: block;
  font-weight: 500;
  font-size: 1.1rem;
  margin-bottom: 0.3rem;
}

.form-row>input,
.form-row>textarea,
fieldset {
  width: 100%;
  outline: none;
  border-radius: 6px;
  padding: 0.2rem 0.7rem;
  border: 2px solid #ddd;
}

.form-row>input:focus,
.form-row>textarea:focus {
  border: 2px solid var(--clr-accent);
}

.form-row>input[type='text']:valid {
  border: 2px solid var(--clr-low-priority-txt);
}

.form-row:has(span) {
  display: flex;
  flex-flow: row wrap;
}

input+span {
  position: relative;
}

input:required+span::after {
  top: -32px;
  right: 0px;
  color: #f44336;
  font-weight: 600;
  position: absolute;
  border-radius: 4px;
  content: 'Required';
  background: #ffebee;
  padding: 0.10rem 0.4rem;
}

.form-row textarea {
  resize: none;
}

fieldset {
  gap: 16px;
  display: flex;
  padding-bottom: 1rem;
  justify-content: space-evenly;
}

fieldset label {
  font-weight: 500;
  font-size: 1.1rem;
}

.form-row button {
  margin-top: 0.4rem;
  margin-right: 0.4rem;
  padding: 0.4rem 0.8rem;
}

.form-row>.cancel-btn {
  background: var(--clr-cancel-btn);
}

.form-row>.cancel-btn+button {
  background: var(--clr-submit-btn);
}