:root {
  --clr-main-bg: #f4f4f4;
  --clr-neutral-dk: #333333;
  --ff-base: Inter, Roboto, 'Helvetica Neue',
    'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  font-family: var(--ff-base);
  color: var(--clr-neutral-dk);
  background: var(--clr-main-bg);
  -webkit-font-smoothing: antialiased;
}

div.container {
  display: grid;
  min-height: 100dvh;
  grid-template: auto 1fr / 1fr 4fr;
}

.container>.header {
  grid-column: span 2;
}