:root {
  --clr-accent: #3498db;
  --clr-main-bg: #f4f4f4;
  --clr-sidebar-bg: #444444;
  --clr-neutral-lt: #edf4f2;
  --clr-neutral-dk: #333333;
  --ff-base: Inter, Roboto, 'Helvetica Neue',
    'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  font-family: var(--ff-base);
  color: var(--clr-neutral-dk);
  background: var(--clr-main-bg);
  -webkit-font-smoothing: antialiased;
}

ul {
  padding: 0;
  list-style: none;
}

input,
button,
textarea {
  font: inherit;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 5px;
}

button:hover {
  opacity: .9;
  transform: scale(1.02);
}

button.add-project-btn,
button.add-todo-btn {
  padding: 0.5rem 1rem;
  color: var(--clr-neutral-lt);
  background: var(--clr-accent);
}

div.container {
  display: grid;
  min-height: 100dvh;
  grid-template: auto 1fr / 1fr 4fr;
}

.container>.header {
  padding: 0.65rem;
  grid-column: span 2;
  color: var(--clr-neutral-lt);
  background: var(--clr-neutral-dk);
}

.header>h1::before {
  width: 55px;
  height: 55px;
  display: block;
  content: url('./assets/checkbox.svg');
}

.header h1 {
  gap: 8px;
  display: flex;
  font-size: 2.5rem;
  align-items: center;
}

.container>.sidebar {
  padding: 1.5rem;
  max-width: 280px;
  color: var(--clr-neutral-lt);
  background: var(--clr-sidebar-bg);
}

.sidebar>h2 {
  font-size: 1.7rem;
  margin-bottom: 0.8rem;
}

.sidebar>.add-project-btn {
  width: 100%;
  margin-bottom: 1rem;
}

.sidebar li {
  display: flex;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
}

.sidebar li.active {
  font-weight: 600;
  background: var(--clr-neutral-dk);
  border-left: 3px solid var(--clr-accent);
}

.sidebar li:hover {
  background: #ffffff1a;
}

.sidebar li>button::before {
  content: "\2715";
}

.sidebar li>button {
  opacity: .8;
  color: inherit;
  background: none;
}

.container>.main {
  padding: 1.5rem;
}

.main>.header {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: space-between;
}

.main .active-project-name {
  font-size: 1.7rem;
}