:root {
  --clr-main-bg: #f4f4f4;
  --clr-neutral-dk: #333333;
  --ff-base: Inter, Roboto, 'Helvetica Neue',
    'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  background: var(--clr-main-bg);
  color: var(--clr-neutral-dk);
  font-family: var(--ff-base);
  line-height: 1.5;
}

input,
button,
textarea {
  font: inherit;
}

p,
h1,
h2,
h3 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3 {
  text-wrap: balance;
}